iframe{
	position:absolute;
	-webkit-filter: brightness(40%); 
	filter:brightness(40%);
	z-index: -1;
	height:100vh; 
	width:100%;
	margin-bottom: 0px;
	display:block;
}

.iframe-container{ 
	height:100vh;
	text-align: center;
}

#homepage-animated-text{ 
	float:none !important;
	font-family: 'Play', sans-serif;
	position:relative;
	font-size:80px;
	top:10vh;
	color:#BA002E; 
}

#homepage-animated-text div{ 
	display:inline-block;
}



#bboy-clip i{ 
	position:relative; 
	font-size:70px;
	color:#FFFFFF;
	top:60vh;
}

.underline-before:before{ 
	content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #FFD700;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.underline-after:before{ 
	content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #FFD700;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#dance{ 
	-webkit-animation-delay: 1.5s;
	-webkit-animation-duration: 2s;
}


#and{
	-webkit-animation-delay: 1.7s;
	-webkit-animation-duration: 2s;
}

#develop{ 
	-webkit-animation-delay: 1.5s;
	-webkit-animation-duration: 2s;
}

#left-bracket{
	-webkit-animation-delay: 2.1s;
	-webkit-animation-duration: 2s;
}

#right-bracket{ 
	-webkit-animation-delay: 2.1s;
	-webkit-animation-duration: 2s;
}


#chevron-arrow-container{
	position:relative;
	top:70vh;
	color:white;
	font-size:30px;
}

nav{
	margin:0;
}

.navbar-default{ 
	margin-top:0;
	background:rgba(0, 0, 0, 0);
}

.navbar-default .navbar-brand{ 
	color:#BA002E;
	font-size:25px;
}


.navbar-default .navbar-nav > li > a{
	font-family: 'Play', sans-serif;
	color:#ede1d1;
	font-size: 20px;
     padding-bottom:8px;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #ede1d1;
}

.navbar-default .navbar-nav > li > a:before{ 
	content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #FFD700;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav > li > a:hover:before{ 
	visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



#brian-chung{ 
	font-family: 'Play', sans-serif;
	color:#ede1d1;
	font-size: 20px;
     font-size: 35px; 
}

section{
	height: 100vh; 
}



#about-text {
	font-family: 'Play', sans-serif;
	font-weight:500;
	font-size: 20px;
	font-style: normal;
	text-align: center; 
	color:#ede1d1;/*#DCD0C0;*/
}

#about-text a{ 
	color:#FFD700;
}

#about-text a:hover{ 
	text-decoration: underline;
}

#about{
	margin-top: 0px; 
	height:100vh;
	font-family: 'Play', sans-serif;
	padding-top:150px;
	background:	#BA002E;/*#373737;*/
}

#about img {
	margin:0 auto 20px;
	border-radius: 50% ;
	border:4px solid #FFFFFF;
}

#projects{ 
	padding-top: 70px;
	background-color:#373737;/*#DCD0C0;*/
	font-family: 'Play', sans-serif;
}

#projects h2{
	color:#ede1d1;
}

#project-description{ 
	font-weight:500;
	font-size: 25px;
	text-align: distribute;
	color:#F28C38;
}

.project-name{ 
	text-align: center; 
	
}

.slide { transition: all .2s ease-in-out; }

.slide:hover { transform: translate(-10px); }

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.1); }

.deck{ 
	color:#FFD700 ;/*#DCD0C0;*/
}

.deck img {position:relative;  width:150px; height:225px;}

.deck img + img {margin-left: -125px;}

.tbd-project {
	background:#FFFFFF;
	border:2px solid #000;
	border-radius:10px;
	height:100px;
}

.center-icon{ 
	text-align:center;
}

.center-icon .fa{ 
	float:none !important;
	font-size:50px;
}

.center-icon a{ 
	color:inherit;
}

#contact{ 
	height:35vh;
	padding-top:30px;
	color:#FFFFFF;
	background:#BA002E;
}

#contact i{
	font-size:50px;
	padding:10px;
	color:#FFFFFF;
}

#contact h6{
	color:#C0C0C0;
}

#contact h6 span{ 
	color:#00CCFF;
}

.bounce {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}





