#bboy-clip{ 
	z-index: -1; 
}

.navbar-default{ 
	margin-top:0;
	background:rgba(0, 0, 0, 0);
}

.navbar-default .navbar-brand{ 
	color:#000;
	font-size:25px;
}


.navbar-default .navbar-nav > li > a{
	color:#000;
	font-size: 20px;
}

.navbar-default div.navbar-collapse
{
    border-top:none;
    box-shadow:none;
}



/*nav > .container { 
	opacity:0.1;
	filter:alpha (opacity=50);
}*/


section{ 
	padding:50px;
	height: 100vh; 
}



#about-text {
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size: 20px;
	font-style: normal;
	text-align: center; 
	padding-top:5vh;
	color:#DCD0C0;

}

#about-text a{ 
	color:#D74125;
}

#about-text a:hover{ 
	text-decoration: underline;
}

#about{
	height:100vh;
	font-family: 'Open Sans'; 
	padding-top:20vh;
	background:#373737; 
}

#about img {
	margin:0 auto 20px;
	border-radius: 50% ;
	border:4px solid #DCD0C0;
}

#projects{ 
	background-color:#DCD0C0;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size: 30px;
	font-style: normal;
	text-align:justify;
	width:100%;
}

#projects ul { 
	list-style-type: none;

}

.project-box {
	width:200px;
	height:300px;
	background:#C0B283;
	margin:10px;
	border-radius:20%;
}





.project-heading{ 

}

.project-heading{ 


}

#contact{ 
	background:#373737;
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.1); }







